*~
*.elc
/auto-save-list
/auto-save-files
/projectile-bookmarks.eld
/config/machine-config.el
/url
/tramp
/transient
/eln-cache
.cache
.dap-breakpoints
.mc-lists.el
projectile.cache
/packages/archives
projects